.mainPage {
  padding: 2rem 0 5rem;
}

.teamName {
  color: white;
}

.teamDetails {
  color: white;
}

.listOfNames {
  display: grid;
}

.detailsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px white solid;
  margin: 0 15rem;
  align-items: center;
  padding: 2rem 0;
}

.teamMember {
  padding: 0.5rem;
}

button {
  background-color: #282c34;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  color: red;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}
